# Model files
*.pt
*.pth
*.ckpt
*.h5
*.bin

# Training outputs
checkpoints/
outputs/
runs/
weights/

CXRGen/test/.virtual_documents/FID.ipynb
CXRGen/test/.ipynb_checkpoints/FID-checkpoint.ipynb
CXRGen/test/.ipynb_checkpoints/Untitled-checkpoint.ipynb
CXRGen/test/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
CXRGen/test/.ipynb_checkpoints/Classification-checkpoint.ipynb
